@import '../../colors.scss';

header{
    display: flex;
    justify-content: space-around;
    padding: 0 0.8em;
    background-color: $dark;
    color: $light;
    a{
        all: unset;

        padding: 0.8em;
        border-radius: 0.4em;
        cursor: pointer;
        background-color: $base;
        transition: all 0.5s;
    }
    a:hover{
        background-color: $darker;
        color: $light;
    }
}